<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008573484807-ndsv6e9muagcfiatlkaiospil162eqha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008573484807-ndsv6e9muagcfiatlkaiospil162eqha</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008573484807-65mil7ig9f8gmneq1i9h7r0aumofp5v9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEeJ-5guzT6RVmxNRcUv79InsYteQzPB8</string>
	<key>GCM_SENDER_ID</key>
	<string>1008573484807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberUsersApp</string>
	<key>PROJECT_ID</key>
	<string>uber-user-app-6dd24</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-user-app-6dd24.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008573484807:ios:0c30df9d74aa0ea2647fa2</string>
</dict>
</plist>